@import url('./variable.css');
.hamburger {
    padding-block: 10px;
    padding-inline: 5px;
    display: inline-block;
    cursor: pointer;
    transition-property: opacity, filter;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    font: inherit;
    color: inherit;
    text-transform: none;
    background: transparent;
    border: 0px;
    margin: 0px;
    overflow: visible;
     z-index: 2;
}
    .hamburger:hover {
      opacity: 0.7; }
    .hamburger.is-active:hover {
      opacity: 0.7; }
    .hamburger.is-active .hamburger-inner,
    .hamburger.is-active .hamburger-inner::before,
    .hamburger.is-active .hamburger-inner::after {
      background-color: var(--white); }
  
  .hamburger-box {
    width: 35px;
    height: 21px;
    display: inline-block;
    position: relative; }
  
  .hamburger-inner {
    display: block;
    top: 50%;
    margin-top: -2px; }
    .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
      width: 35px;
      height: 4px;
      background-color: var(--white);
      border-radius: 4px;
      position: absolute;
      transition-property: transform;
      transition-duration: 0.15s;
      transition-timing-function: ease; }
    .hamburger-inner::before, .hamburger-inner::after {
      content: "";
      display: block; }
    .hamburger-inner::before {
      top: -10px; }
    .hamburger-inner::after {
      bottom: -10px;
     }

     .hamburger--elastic .hamburger-inner {
        top: 2px;
        transition-duration: 0.275s;
        transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55); }
        .hamburger--elastic .hamburger-inner::before {
          top: 10px;
          transition: opacity 0.125s 0.275s ease; }
        .hamburger--elastic .hamburger-inner::after {
          top: 20px;
          transition: transform 0.275s cubic-bezier(0.68, -0.55, 0.265, 1.55); }
      
      .hamburger--elastic.is-active .hamburger-inner {
        transform: translate3d(0, 10px, 0) rotate(135deg);
        transition-delay: 0.075s; }
        .hamburger--elastic.is-active .hamburger-inner::before {
          transition-delay: 0s;
          opacity: 0; }
        .hamburger--elastic.is-active .hamburger-inner::after {
          transform: translate3d(0, -20px, 0) rotate(-270deg);
          transition-delay: 0.075s; }
      
      /*
         * Elastic Reverse
         */
      .hamburger--elastic-r .hamburger-inner {
        top: 2px;
        transition-duration: 0.275s;
        transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55); }
        .hamburger--elastic-r .hamburger-inner::before {
          top: 10px;
          transition: opacity 0.125s 0.275s ease; }
        .hamburger--elastic-r .hamburger-inner::after {
          top: 20px;
          transition: transform 0.275s cubic-bezier(0.68, -0.55, 0.265, 1.55); }
      
      .hamburger--elastic-r.is-active .hamburger-inner {
        transform: translate3d(0, 10px, 0) rotate(-135deg);
        transition-delay: 0.075s; }
        .hamburger--elastic-r.is-active .hamburger-inner::before {
          transition-delay: 0s;
          opacity: 0; }
        .hamburger--elastic-r.is-active .hamburger-inner::after {
          transform: translate3d(0, -20px, 0) rotate(270deg);
          transition-delay: 0.075s; }


          .scale-up-bottom {
            -webkit-animation: scale-up-bottom 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
                    animation: scale-up-bottom 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
          }

          /* ----------------------------------------------
 * Generated by Animista on 2023-1-26 11:53:27
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-up-bottom
 * ----------------------------------------
 */
@-webkit-keyframes scale-up-bottom {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
  }
}
@keyframes scale-up-bottom {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
  }
}


.slide-left {
	-webkit-animation: slide-left 3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-left 3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
 @-webkit-keyframes slide-left {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
  }
}
@keyframes slide-left {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
  }
}
