@import './common/style/fonts/fonts.css';
@import './common/style/variable.css';
@import './common/style/commonClasses.css';
@import './common/style/animations.css';
body {
  margin: 0;
  font-family:"Gilroy", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,Helvetica Neue,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  background:var(--bg-black);
  color: var(--white);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
